<br>
<h1>Shopping Cart  <small> That little bucket of joy</small></h1><br>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/coffee1.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Annapurna</h5>
              <p class="card-text">Beautum White Model</p>
              <p>Price : &#8377;&nbsp;331</p>
              <a href="#" class="btn btn-warning">Add to Cart</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/coffee4.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Huppme maida</h5>
              <p class="card-text">Coffee mug creamic</p>
              <p>Price : &#8377;&nbsp;339</p>
              <a href="#" class="btn btn-warning">Add to Cart</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/coffee3.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Huppme maida</h5>
              <p class="card-text">Coffee mug creamic</p>
              <p>Price : &#8377;&nbsp;270</p>
              <a href="#" class="btn btn-warning">Add to Cart</a>
            </div>
          </div>
      </div>
    </div>
  </div>

